<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
  
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://www.wikihow.com/images/thumb/a/a8/Start-a-Flower-Shop-Step-2-Version-4.jpg/v4-460px-Start-a-Flower-Shop-Step-2-Version-4.jpg.webp"
          class="img-fluid" alt="Sample image">
      </div>
  
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  
  
        <h3><u><b>Welcome to Flowery</b></u></h3><br>
        <form [formGroup]="formdata" (ngSubmit)="onclicksubmit(formdata.value)">
  
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg" formControlName="username" placeholder="Enter valid email">
            <label class="form-label" for="form3Example3">UserId : </label>
          </div>
  
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg" formControlName="password" placeholder="Enter password">
            <label class="form-label" for="form3Example4">Password :</label>
          </div>
  
          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
          </div>
  
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
          </div> <br>
        
        </form>  
  
  
      </div>
  
   </div>
  </div>
  