<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
  
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://www.wikihow.com/images/thumb/a/a8/Start-a-Flower-Shop-Step-2-Version-4.jpg/v4-460px-Start-a-Flower-Shop-Step-2-Version-4.jpg.webp"
          class="img-fluid" alt="Sample image">
      </div>
  
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  
  
        <h2>Welcome to Admin Portal</h2>
        <form>
  
          <div class="form-outline mb-4">
            <h4>Please select the Operation you want to follow</h4>
          </div>
  
    
  
          <div class="text-center text-lg-start mt-4 pt-2">
            <a routerLink="/insert" routerLinkActive="active"><button type="submit" class="btn btn-primary btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Insert Flower</button></a> &nbsp;
            <a routerLink="/update" routerLinkActive="active"><button type="submit" class="btn btn-dark btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Flower</button></a>&nbsp;
            <a routerLink="/view" routerLinkActive="active"><button type="submit" class="btn btn-primary btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">View Flower</button></a> &nbsp;
            <a routerLink="/delete" routerLinkActive="active"><button type="submit" class="btn btn-danger btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Delete Flower</button></a>
          </div> <br>
        
        </form>  
  
  
      </div>
  
   </div>
  </div>
  
